{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "8.12.0",
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": ["transform-vue-jsx", ["transform-runtime", {
    "helpers": false,
    "polyfill": false,
    "regenerator": true,
    "moduleName": "babel-runtime"
  }]]
}